@mixin before__circle {
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        //background: linear-gradient(120deg, #EEF5FF, $main-color);
        position: absolute;
        z-index: -1;
        top: -30%;
        left: 0;
    }
}