@mixin before__circle {
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        //background: linear-gradient(120deg, #EEF5FF, $main-color);
        position: absolute;
        z-index: -1;
        top: -30%;
        left: 0;
    }
}

@mixin gradient_bg {
    background: linear-gradient(120deg, #ffffff, #E4F1FF, #EEF5FF,  #AED2FF, #6499E9, #123D7D);//blue
    background-size: 120% 340%;
    animation: gradient-animation 7s linear infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 80%;
    }
    100% {
        background-position: 0% 50%;
    }
}