@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 350px 550px;
            column-gap: 40px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 350px 500px;
        }
        &__form {
            grid-template: 40px 140px 40px 60px /repeat(2, 245px);
            row-gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz16 {
            font-size: 15px;
            line-height: 21px;
        }
        &_fz20 {
            font-size: 16px;
            line-height: 30px;
        }
        &_fz30 {
            font-size: 26px;
        } 
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__text {
            margin-top: 0;
            font-size: 14px;
        }
    }
    .resume {
        &__wrapper {
            margin-left: 15px;
            width: 90%;
        }
        &__column {
            width: 330px;
            &-title {
                font-size: 18px;
            }
        }
        &__item {
            &-text {
                max-width: 300px;
                font-size: 13px;
            }
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            padding: 0;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &__form {
            grid-template: 45px 190px 45px 60px / repeat(2, 280px);
            column-gap: 10px;
        }
        &__descr {
            width: 80%;
        }
        &__policy {
            span:before {
                bottom: 0px;
                left: -26px;
            }
        }
    }
    .carousel {
        &__block {
            width: 534px;
            height: 397px;
        }
    }
    .carousel__img {
        margin-top: 50px;
    }
    .portfolio {
        &__wrapper {
            margin-bottom: 100px;
        }
        &__item {
            width: 250px;
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 70px;
            margin-top: 50px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    } 
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
        }
    }
    .about {
        padding-top: 70px;
        &__wrapper {
            grid-template: 400px auto auto / 100%;
        }
        &__photo {
            grid-row: unset;
        }
    }
    .resume {
        &__wrapper {
            margin-top: 0px;
            padding-top: 0;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: start;
        }
        &__column {
            margin-top: 60px;
            width: 100%;
        }
        &__item {
            &-text {
                max-width: 100%;
            }
        }
    }
    .contacts {
        &__form {
            grid-template: 45px 190px 45px 60px /repeat(2, 210px);
        }
        &__triggers {
            column-gap: 25px;
        }
    }
    .carousel {
        &__block {
            width: 400px;
            height: 298px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
        .hamburger {
            right: 20px;
        }
    }
    .about {
        padding-top: 50px;
        &__wrapper {
            grid-template: 340px auto auto / 100%;
        }
    }
    .portfolio {
        &__descr {
            margin-left: 20px;
        }
    }
    .contacts {
        &__wrapper {
            padding-left: 0;
            padding-right: 0;
        }
        &__form {
            grid-template: 45px 45px 143px 100px 60px/100%;
            grid-template-columns: 100%;
            justify-content: center;
            row-gap: 30px;
            #name {
                order: 1;
            }
            #email {
                order: 2;
            }
            #textarea {
                order: 3;
            }
        }
        &__textarea {
            grid-column: unset;
            grid-row: unset ;
        }
        &__descr {
            width: 90%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: auto;
            row-gap: 20px;
            justify-content: center;
            align-content: center;
            place-content: center center;
            button {
                order: 2;
                width: 219px;
                margin: 0 auto;
            }
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            span:before {
                bottom: 6px;
                left: -24px;
            }
            #checkbox:checked + span:before{ 
                font-size: 14px;
            }
        }
    }

    .validationMessage {
        right: 0;
    }

    .carousel {
        &__block {
            width: 320px;
            height: 238px;
            img {
                margin-top: 100px;
            }
        }
    }
    .modal {
        &__block {
            width: 360px;
            height: 550px;
        }
    }
    .formMessage {
        grid-column: 1 / 2;
    }

    .statusMessages {
        grid-column: 1 / 2;
    }
    
}



@media (max-width: 360px) {
    .resume {
        &__item {
            #university {
                transform: translateY(-65%);
            }
        }
    }
    .modal {
        &__block {
            width: 310px;
            height: 500px;
        }
    }
}
