.portfolio {
    padding: 100px 0;
    background: #f9fafb;
    &__subtitle {
        text-align: center;
        margin-top: 30px;
    }
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 20px auto 60px;
        row-gap: 60px;
        column-gap: 20px;
    }
    &__item {
        transition: 0.6s all;
        max-width: 220px;
        width: 25%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.05);
        }
        p {
            text-align: center;
            font-size: 14px;
            a {
                text-decoration: underline;
                color: #000000;
                cursor: pointer;
                &:hover, &:active {
                    color: #000000;
                }
            }
        }
        &_link {
            height: 250px;
            display: block;
        }
    }
    &__descr {
        text-align: center;
        font-size: 14px;
        p {
            margin: 0 auto 10px;
            a {
                text-decoration: underline;
                color: #000000;
                cursor: pointer;
                &:hover, &:active {
                    color: #000000;
                }
            }
            span {
                font-weight: 700;
            }
        }
    }
    .title {
        margin-bottom: 20px;
    }
    &__btn {
        border: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        background: #94add7;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
        border-radius: 10px;
        margin: 30px auto;
        display: block;
        border: none;
        &:focus {
            outline: none ;
        }
    }
    &__btn.hidden {
        display: none;
    }

    .more_content {
        display: none;
        transition: height 0.5s ease-in-out;
        height: 0;
        &.show {
            display: block;
            height: max-content;
        }
    }


}