.portfolio {
    margin-top: 120px;
    padding-bottom: 120px;
    &__subtitle {
        text-align: center;
        &__application {
            text-align: center;
        }
        &__cms {
            text-align: center;
        }
    }
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template: 280px / repeat(3, 225px);
        grid-auto-rows: 290px;
        row-gap: 130px;
        column-gap: 50px;
        place-content: center;
        margin-bottom: 120px;
        &_websites {
            grid-template: 280px / repeat(4, 225px);
        }
        &_cms {
            margin-top: 30px;
            grid-template-columns: repeat(2, 255px);
            grid-auto-rows: 290px;
            row-gap: 100px;
            margin-bottom: 100px;
        }
    }
    &__item {
        transition: 0.6s all;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.05);
        }
        p {
            text-align: center;
            font-size: 14px;
            a {
                text-decoration: underline;
                color: #000000;
                cursor: pointer;
                &:hover, &:active {
                    color: #000000;
                }
            }
        }
    }
    &__descr {
        text-align: center;
        font-size: 14px;
        p {
            a {
                text-decoration: underline;
                color: #000000;
                cursor: pointer;
                &:hover, &:active {
                    color: #000000;
                }
            }
        }
    }
    .title {
        margin-bottom: 20px;
    }
}