.promo {
    position: relative;
    padding-top: 35vh;
    height: calc(95vh - 65px);
    border-radius: 50px;
    margin: 0 auto;
    width: calc(97% - 50px);
    @include gradient_bg;
    &__title {
        margin-top: 1vw;
        margin-right: 0;
        font-weight: 100 !important;
        font-style: normal;
        font-family: "Urbanist", sans-serif;
        font-size: 34px;
        line-height: 1.2;
        span {
            font-weight: 100;
            font-family: Urbanist, sans-serif;
            font-size: 34px;
            display: block;
        }
    }
    &__subtitle {
        display: block;
        margin-right: 0;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before__circle;
    }
    &__btns {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__btn {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        border-radius: 5px;
        &:hover {
            color: #000000;
            box-shadow: 0px 0px 20px $main-color;
            cursor: pointer;
            text-decoration: none;
        }
        &:active {
            background: $main-color;
        }
        a {
            &:hover {
                color: #000000;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    

    &__dropdown {
        width: 100%;
        display: none;
        transition: all 0.5s ease;
        .depth {
            width: max-content;
            padding: 20px 10px;
            margin: 0 auto;
            margin-right: 30%;
            font-size: 13px;
            a {
                color: #151812;
            }
        }
    }

}