.title {
    font-weight: 300;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
    z-index: 0;
    &_fz16 {
        font-size: 16px;
        line-height: 21px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz30 {
        font-size: 30px;
    } 
    &_fz48 {
        font-size: 48px;
        line-height: 70px;
    }
    &_section-title {
        position: relative;
        text-align: center;
        @include before__circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
